
.header {
  width: 100%;
  height: 120px;
  /* border: thin solid #fff; */
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.slide-button {
  height: 40px;
  width: 50px;
  background-color: rgb(19, 19, 19);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.4s all ease-in-out;
  transform: rotateY(180deg);
}

.slide-button:hover {
  background-color: rgb(36, 36, 36);
}

.uil-angle-double-right {
  font-size: 35px;
  color: rgb(127, 255, 0);
}

.header-data {
  display: flex;
  align-items: center;
  height: 50px;
  /* margin: 0 30px; */
  padding: 0;
}

.heading {
  color: hsl(27, 81%, 44%);
  line-height: 50px;
}
