@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.hr {
  height: 0.25px;
  margin: 0 15px;
  background-color:rgba(104, 104, 104, 0.6);
}

.gd {
  display: grid;
}

 .App {
  background-color: hsl(214, 9%, 15%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.app {
  display: flex;
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/9/eb/by-fox-green-leaf-plant-macro-leaves-close-up-priroda-flora.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

.cur-p {
  cursor: pointer;
}

